/* table {
    border-collapse: collapse;
    padding: 50px;
    width: 30%;
    position: relative;
    bottom: 50px;
}

th {
    font-size: 20px;
}

td, th { 
    padding: 5px;
    border: 1px solid black;

}

table {
    position: absolute;
    left: 400px;
} */